CompileFlags:
  CompilationDatabase: build/Debug
Index:
  Background: Build
  StandardLibrary: Yes
Diagnostics:
  Suppress: bugprone-reserved-identifier
  UnusedIncludes: Strict
  # MissingIncludes: Strict
  ClangTidy:
    Add:
      [
        performance-*,
        bugprone-*,
        portability-*,
        modernize-*,
        readability-*,
      ]
    Remove:
      [
        modernize-use-trailing-return-type,
        readability-identifier-length,
      ]
    CheckOptions:
      readability-identifier-naming.VariableCase: lower_case
Completion:
  AllScopes: Yes
InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  Designators: Yes
  # BlockEnd: No
  # TypeNameLimit: 24
Hover:
  ShowAKA: Yes
