CompileFlags:
  CompilationDatabase: build/Debug
  Remove:
    [
      '-mpoke-function-name'
    ]
Index:
  Background: Build
  StandardLibrary: Yes
Diagnostics:
  Suppress: bugprone-reserved-identifier
  UnusedIncludes: Strict
  MissingIncludes: Strict
  ClangTidy:
    Add:
      [
        performance-*,
        bugprone-*,
        portability-*,
        modernize-*,
        clang-analyzer-*,
        # readability-*,
        cert-*,
      ]
    Remove:
      [
        modernize-use-trailing-return-type,
        # readability-identifier-length,
        cert-dcl37-c,
        cert-dcl51-cpp,
      ]
    CheckOptions:
      readability-identifier-naming.VariableCase: lower_case
Completion:
  AllScopes: Yes
InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  Designators: Yes
  BlockEnd: No
  TypeNameLimit: 24
Hover:
  ShowAKA: Yes
